<html>

    <head>
            <title>View Engine hbs</title>
            <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
        {{>header}}
        <p>paragraph details</p>
<form>
<input placeholder="Location">
<button>Serach</button>
</form>
<p id="message-1"></p>
<p id="message-2"></p>
        <script src="/js/app.js"></script>
    </body>
</html>